<!-- Navigation-->
<nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#home"><img src="assets/img/navbar-logo.svg" alt="" /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ml-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">


              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Get Involved
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/projects">Active Projects</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/pages/project_guidelines">Projects 101</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/pages/hack_night_program_details/">Weekly Meetups</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/pages/hackathons">Launchpads &amp; Hackathons</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Community/Connect
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/chat" target="_blank">Chat <small>(Slack)</small></a>
                      <a class="dropdown-item nav-link" href="http://forum.codeforphilly.org/login" target="_blank">Forum <small>(Discussion)</small></a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/members">Member Directory</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      About
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/mission">Mission</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/pages/code_of_conduct/">Code of Conduct</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/pages/leadership/">Organizing Team</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/pages/leadership-support_team_open_positions/">Join the Organizing Team</a>
                      <a class="dropdown-item nav-link" href="https://codeforphilly.org/contact">Contact Us</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <input class="form-control mr-sm-2" id="js-site-search" type="search" placeholder="Search" aria-label="Search">
                  <ul class="dropdown-menu search" id = "navbarSearchBarDropdown" aria-labelledby="navbarDropdown">
                  </ul>
              </li>
              <li class="nav-item show">
                  <a class="nav-link " href="https://codeforphilly.org/login?return=%2F" id="navbarDropdown" role="button" aria-haspopup="false" aria-expanded="false">
                      Login
                  </a>
              </li>
              <li class="nav-item show">
                  <a class="nav-link " href="https://codeforphilly.org/register?return=%2F" id="navbarDropdown" role="button" aria-haspopup="false" aria-expanded="false">
                      Signup
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>